<div class="container">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-card class="mat-elevation-z4">
          <mat-card-header id="header">
            <mat-card-title>Job Openings</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6oPCTQX1z_2rS-35kbZYOAKJTsmlKxtalTw&usqp=CAU">
          <mat-card-content>
            <p>
                Check this Website for the Employment Oppurtunities.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="" onclick="window.location.href = 'https://www.governmentjobs.com/careers/nwmissouri/promotionaljobs';">Job Openings</button>
          </mat-card-actions>
        </mat-card>
    </div>
</div>