<div class="text-center">
    
    <button class="button" onclick="window.location.href = 'https://www.governmentjobs.com/careers/nwmissouri/promotionaljobs';">Job Openings</button> <br />
    <button class="button button2" onclick="window.location.href = 'https://nwmissouri.instructure.com/';">Canvas</button><br />
    <button class="button button3" onclick="window.location.href = 'https://ssbprod.nwmissouri.edu/PROD/twbkwbis.P_WWWLogin';">Due Fees</button><br />
    <button class="button button4" onclick="window.location.href = 'https://northwestmissouri.campusdish.com/';">Campus Dining</button><br />
    <button class="button button5" onclick="window.location.href = 'https://www.nwmissouri.edu/recreation/';">Sports</button><br />
</div>
