<div class="col-md-6 offset-md-3">
    <h3> Update Topic </h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label> TopicName</label>
            <input type="text" class ="form-control" id = "TopicName"
                [(ngModel)] = "topic.topicName" name = "topicName">
        </div>
    
        <div class="form-group">
            <label> Description</label>
            <input type="text" class ="form-control" id = "Description"
                [(ngModel)] = "topic.description" name = "description">
        </div>

        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div>
