<div class="container">
    <mat-card>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6oPCTQX1z_2rS-35kbZYOAKJTsmlKxtalTw&usqp=CAU" alt="Card image cap">   
        <mat-card-content>
            <mat-card-title>
                <h4>Employment Oppurtunities</h4>
            </mat-card-title>
            <p> Check this Website for the Employment Oppurtunities.</p>
            <mat-card-actions> 
                <button mat-raised-button color="" onclick="window.location.href = 'https://www.governmentjobs.com/careers/nwmissouri/promotionaljobs';">Job Openings</button>
            </mat-card-actions>
            <mat-card-actions>
                <button id="topics" routerLink="/list" >View Topics</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    
</div>