.container {
        padding: 16px;
    }
.container button:hover {
        opacity: 0.9;
      }
    
.container > mat-card {
        width: 450px;
        margin: auto;
        text-align: center;
        font-family: arial;

    }
.container button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #006747;
        text-align: center;
        cursor: pointer;
        width: 50%;
        font-size: 18px;
      }
.container img{
    width:100%
}
.container #topics{
    border: none;
    outline: 1;
    padding: 12px;
    color: white;
    background-color: #006747;
    text-align: center;
    cursor: pointer;
    width:100%;
    font-size: 18px;
    
  }